.carousel-wrapper {
  position: relative;

  width: 90vw;
  height: 80vh;
  margin: 2vh auto;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.carousel-container {
  display: flex;

  height: 100%;
  width: calc(100% * var(--item-count));
}

.carousel-item {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #2c3e50, #1a2533);
  padding: 40px;
  box-sizing: border-box;
}

.carousel-image {
  width: 45%;
  height: 80%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-content {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.carousel-content h2 {
  margin-top: 0;
  color: #c2c2c2;
  font-size: 3.5rem;
}

.carousel-content p {
  margin: 5px 0;
  font-size: 2rem;
  color: #979797;
}

.see-more-btn {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.see-more-btn:hover {
  background-color: #0056b3;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

@media (max-width: 768px) {
  .carousel-item {
    flex-direction: column;
    justify-content: center;
  }

  .carousel-image,
  .carousel-content {
    width: 90%;
    margin-bottom: 20px;
  }

  .carousel-image {
    height: 40%;
  }
}
