.carousel-container {
  position: relative;
  background-color: rgba(57, 57, 57, 0.9);
  margin-bottom: 8rem;
  margin-left: 3rem;
  width: 50vw;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.509);
  display: flex;
  justify-content: center;
  object-fit: contain;
  margin-top: 5rem;
}
.big-carousel-container {
  width: 97.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-container img {
  width: 100%;

  object-fit: contain;
}

.carousel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-container button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-container button:nth-child(2) {
  left: 0;
}

.carousel-container button:nth-child(3) {
  right: 0;
}
.see-more-btn {
  --green: #1bfd9c;
  font-size: 0.8rem;

  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.see-more-btn:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.see-more-btn:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
}

.see-more-btn:hover:before {
  transform: translateX(15em);
}
