.list-item {
  margin-top: 1rem;
  margin-left: 11rem;
  width: 80vw;
  height: 17rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right top, #3f4c6b, #606c88);
  padding: 1rem;
  color: rgb(107, 114, 128);
  box-shadow: 0px 87px 78px -39px rgba(0, 0, 0, 0.4);
}
.list-img {
  width: 13rem;

  object-fit: contain;
  object-position: center;
}
.icon {
  height: 100%;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  /* background-color: #153586; */
  color: rgb(59, 130, 246);
}
.icon div {
  font-size: 1.3rem;
}

.icon svg {
  height: 1.25rem;
  width: 1.25rem;
}
.info-item {
  margin-right: 20px;
  display: inline-block;
}

.list-content {
  display: flex;
  align-items: center;
  margin-left: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  flex-direction: column; /* stack children vertically */
  justify-content: space-between; /* spread children apart */
}

.list-title {
  margin-bottom: 0.25rem;
  font-size: 1.975rem;
  line-height: 3.25rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.list-desc {
  margin-left: 6.2rem;
  margin-bottom: 0.5rem;
  font-size: 1.275rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgb(202, 200, 200);
  display: flex; /* stack items horizontally */
  justify-content: space-between; /* spread children apart */
  flex-wrap: wrap; /* wrap onto next line if needed */
}

.see-more {
  background-color: #284385;
  font-weight: 600;
}
.see-more:hover {
  background-color: #153586;
}
.see-more,
.notnow {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.375rem 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(255, 255, 255);
  outline: 2px solid transparent;
  border: 1px solid rgba(253, 253, 253, 0.363);
}

.notnow {
  background-color: #606c88;
  font-weight: 500;
}

.notnow:hover {
  background-color: #3f4c6b;
}
@media (max-width: 600px) {
  .list-item {
    width: 100%;
    height: 10rem;
    display: flex;
    margin-left: 0;
    padding-top: 0;
  }
  .list-title {
    font-size: 1.4rem;
  }
  .icon {
    font-size: 0.7rem;
    flex-direction: column;
  }
  .list-content {
    display: none;
    flex-direction: column;
    height: 8rem;
  }
  .origin {
    display: none;
  }
}
@media (max-width: 900px) {
  .list-item {
    margin-left: 3rem;
    width: 100%;
    height: 13rem;
    display: flex;
    margin-left: 0;
    padding-top: 0;
  }
  .list-desc {
    line-height: 0.25rem;
  }
  .list-title {
    line-height: 1.2;
  }
  .list-img {
    width: 80%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
