.homeImg {
  position: relative;
  overflow: hidden;
  height: 500px; /* Increased height */
}

.background-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  display: flex;
  animation: carousel 60s linear infinite;
}

.carousel-image {
  width: 10%; /* 10% because we have 10 images, repeated twice */
  height: 100%;
  object-fit: cover;
}

.content-overlay {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  padding: 2rem 0;
}

.navbar-container {
  width: 100%;
}

.navbar-container:hover {
  overflow: visible;
}

.MuiPopover-root {
  z-index: 1100 !important;
}

.MuiMenu-paper {
  max-height: none !important;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .carousel-image {
    width: 20%;
  }
  .background-carousel {
    width: 400%;
  }
}

@media (max-width: 768px) {
  .carousel-image {
    width: 33.33%;
  }
  .background-carousel {
    width: 600%;
  }
}

@media (max-width: 480px) {
  .carousel-image {
    width: 50%;
  }
  .background-carousel {
    width: 800%;
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.home-pages-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.home-pages-buttons button {
  --green: #1bfd9c;
  font-size: 0.8rem;

  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.home-pages-buttons button:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.card-grid {
  width: 100%;
}

@media (max-width: 900px) {
  .card-grid {
    width: 100vw;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
